@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    background-color: red;
}

h1 {
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.first{
    margin: 20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.last{
    margin: 20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-size: 35px;    
    font-family: 'Ubuntu', sans-serif;
}

.moznosti{
    font-size: 20px;
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: magenta;
}