*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180vh;
}

.panel{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan:not(:last-child){
    border-bottom: 1px solid #e1f1ff;
}

.pricing-img{
    margin-bottom: 25px;
    max-width: 100%;
}
